 <!------------------- FOOTER ----------------------->
 <footer class="footer" id="my-footer">
    <div class="container">
        <div class="about-us">
            <h3>ABOUT US</h3>
            <p>This platform has been designed for every student wishing to expand their knowledge, share their knowledge and is ready to grab their dream job. We have hundreds of interview experiences .</p>
        </div>
        <div class="contact">
            <h3>CONTACT US</h3>
            <form action="/" method="post">
                <label for="name-us" class="lab">NAME</label>
                <br><input type="text" id="name-us" placeholder=" ENTER YOUR NAME :">
                <br>
                <label for="email-us" class="lab">EMAIL</label>
                <br><input type="email" id="email-us" placeholder=" ENTER YOUR EMAIL ID :">
                <br>
                <button type="submit" class="btn btn-compose">COMPOSE</button>
            </form>
        </div>
        <div class="follow">
            <h3>FOLLOW US</h3>
            <div class="social text-gray">
                <a href=""><i class="fab fa-facebook-f fb"></i></a>
                <a href=""><i class="fab fa-instagram ig"></i></a>
                <a href=""><i class="fab fa-twitter tw"></i></a>
                <a href=""><i class="fab fa-youtube yt"></i></a>
            </div>    
            <p>While($me.isAlive())</p>
            <p>{</p>
            <p>&nbsp;&nbsp;&nbsp;$me.eat();</p>
            <p>&nbsp;&nbsp;&nbsp;$me.code();</p>
            <p>&nbsp;&nbsp;&nbsp;$me.sleep();</p>
            <p>}</p>
        </div>
    </div>
    <div class="rights flex-row">
        <h4>
            COPYRIGHT © 2022 | MADE BY GAURAV KHINCHI 
        </h4>
    </div>
</footer>
<!----------x-------- FOOTER -----------x---------->

<!-- CUSTOM JQUERY LIBRARY FILE -->
<script src="./js/Jquery3.6.1.min.js"></script>

<!-----------OWL CAROUSEL ------->
<script src="./js/owl.carousel.min.js"></script>

<script src="./js/main.js"></script>
<!-- CUSTOM JAVASCRIPT -->
</body>
</html>