<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERVIEW BUDDY</title>
    <link rel="icon" href="../../assets/coding-home2.jpg">
    <!-- FONTS AWESOME ICONS-->
    <link rel="stylesheet" href="./css/all.css">

    <!---- OWL CAROUSEL --->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="/css/Styles.css">
    <base href="/">
</head>
<body>
    <!-- -----------------   NAVIGATION ------------ --->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-grey">INTERVIEW BUDDY</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>    
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/home">HOME</a>
                    </li>
                    <li class="nav-link">
                        <a href="/home/#my-category">CATEGORY</a>
                    </li>
                    <li class="nav-link">
                        <a href="/compose">COMPOSE</a>
                    </li>
                    <li class="nav-link">
                        <a href="/home/#my-footer">CONTACT US</a>
                    </li>
                    <li class="nav-link">
                        <a href="/about">ABOUT</a>
                    </li>
                    <li class="nav-link">
                        <a href="/posts">POSTS</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f fb"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram ig"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter tw"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube yt"></i></a>
            </div>    
        </div>
    </nav>
