<%- include("./partials/header"); %>

<main>
    <div class="site-title-about">
        <div class="site-background-about" >
            <h1 style="font-size:4rem ; color:white"  class="glow">ABOUT</h1>
            
            <div class="about-box-container">
                <div class="image-about">
                <img class="founder-about-image" src="../assets/Founder2.jpeg" alt="">
                <h3 style="font-size:2rem; color:green ;" class="text-about">GAURAV &nbsp KHINCHI</h3>
                <h3 class="text-about" style="margin: 0px;">Founder, Interview Buddy</h3>
            </div>
            <div class="text-about">
                <h3>We welcome you to the platform where we consistently strive to offer the best of education.</h3>        
                <br>
                <h3>This platform has been designed for every student wishing to expand their knowledge, share their knowledge and is ready to grab their dream job. We have hundreds of interview experiences .</h3>
                <br>
                <h3>Thank you for choosing and supporting us!</h3>
            </div>
        </div>
    </div>
</div>
</main>

<%- include("./partials/footer"); %>