/* FONT - FAMILY : Island_Moments*/

@font-face {
    font-family:Island_Moments ;
    src: url("../fonts/Island_Moments/IslandMoments-Regular.ttf");
}

/* FONT - FAMILY : Caveat*/

@font-face {
    font-family:Caveat ;
    src: url("../fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

/* FONT - FAMILY : Fuzzy_Bubbles*/

@font-face {
    font-family:Fuzzy_Bubbles ;
    src: url("../fonts/Fuzzy_Bubbles/FuzzyBubbles-Bold.ttf");
}

/* FONT - FAMILY : Lexend*/

@font-face {
    font-family:Lexend;
    src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

/* FONT - FAMILY : ABEL */

@font-face {
    font-family:Abel;
    src: url("../fonts/Abel/Abel-Regular.ttf");
}
